In [6]:
import pandas as pd

In [9]:
ExpStocks = pd.read_csv("Expensive Stocks.csv")

In [10]:
ExpStocks.head()

,S.No.,Name,CMP Rs.,Mar Cap Rs.Cr.,Graham's Number Rs.,Piotski Scr,Face value Rs.,CMP Upside Potential %,52w High Rs.,QoQ Profits %,Qtr Profit Var %,Profit Var 3Yrs %,P/E,Trd Qty,ROCE 3Yr %,Exp Qtr NP Rs.Cr.,CP above GN %,ROE %,ROE 3Yr %,Debt / Eq
0,1.0,Goblin India,25.95,27.10,49.76,4.0,10.0,364.74,120.60,NaN,NaN,88.80,6.39,12400,21.67,NaN,0.52,23.37,39.17,0.72
1,2.0,Brightcom Group,4.90,248.75,111.26,6.0,2.0,165.71,13.02,1.60,-2.33,2.20,0.55,6196885,21.69,191.80,0.04,15.72,15.50,0.01
2,3.0,D B Corp,80.85,1414.51,102.46,5.0,10.0,86.52,150.80,159.35,-62.26,-9.72,16.42,305711,22.73,22.92,0.79,15.80,16.25,0.17
3,4.0,GMM Pfaudler,3814.55,5575.92,562.71,6.0,2.0,81.25,6913.85,39.97,29.20,37.80,70.85,59051,29.31,24.49,6.78,23.51,21.26,0.16
4,5.0,Chemcon Special.,418.30,1532.26,NaN,4.0,10.0,77.81,743.80,76.24,14.39,153.25,31.34,268148,55.68,NaN,NaN,40.17,49.81,0.18

In [12]:
ExpStocks.Name

0          Goblin India
1       Brightcom Group
2              D B Corp
3          GMM Pfaudler
4      Chemcon Special.
             ...
280      Vaibhav Global
281       Titan Company
282    Dixon Technolog.
283    Indian Energy Ex
284    Kajaria Ceramics
Name: Name, Length: 285, dtype: object